@import url('https://fonts.googleapis.com/css?family=Quantico:400,700|Roboto:300,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Roboto:wght@300;400;700&display=swap'); */
:root {
  --black: #1e1e1e;  /* rgba(30, 30, 30, .9) */
  --green: #78bc62; /* rgb(120, 188, 98) */
  --yellow: #ffd944;   /* rgb(255, 217, 68) */
  --grey: #102438;
  --lightGrey: #f4f4f4;
  --white: #fff;
  --padding: 100px 0;
  --headings: 3rem;
  --fontSize: 16px;
  --transition: .4s ease;
}
/*************
basic styles
*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fontSize);
  line-height: 1.6;
  color: var(--grey);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quantico', sans-serif;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
button {
  padding: 10px 20px;
  border: none;
  font-size: 1.1rem;
  font-family: 'Quantico', sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
  transition: var(--transition);
}
.container {
  width: 70%;
  margin: auto;
}
/*************
grid sistem
*************/
.row {
  width: 100%;
}
.row::after {
  display: block;
  content: '';
  clear: both;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
}
/*************
nav
*************/
nav {
  height: 80px;
  line-height: 80px;
}
nav .logo {
  float: left;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'Quantico', sans-serif;
  color: var(--black);
  padding-left: 100px;
}
nav i {
  color: var(--green);
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  transition: var(--transition);
  border-bottom: 3px solid transparent;
  position: relative;
  top: -3px;
}
nav ul li a {
  padding: 0 30px;
  color: var(--black);
  text-transform: uppercase;
}
.active {
  border-bottom: 3px solid var(--green);
}
nav ul li:hover  {
  border-bottom: 3px solid var(--green);
}
/*******************
H O M E
********************/
/*************
header
*************/
header {
  background: linear-gradient(rgba(30, 30, 30, .5), rgba(30, 30, 30, .5)), url(img/header.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 20px 200px 20px;
  text-align: right;
  color: var(--white);
}
header h1 {
  font-size: 8rem;
}
header p {
  font-size: 1.2rem;
}
header button {
  background: var(--yellow);
}
header button:hover {
  background: var(--green);
}
/*************
services
*************/
.services img {
  width: 100%;
}
.services .wrapper {
  box-shadow: 0 0 25px lightgray;
  margin: -110px 20px 20px 20px;
  padding: 20px;
  transition: var(--transition);
  background-color: var(--white);
}
.services .wrapper:hover {
  box-shadow: 0 0 25px gray;
}
.services .text {
  text-align: center;
  padding: 20px;
}
.services .text h3 {
  font-size: 2rem;
}
.services .text h3::after {
  display: block;
  content: '';
  height: 2px;
  width: 60%;
  margin: 30px auto;
  background-color: lightgray;
}
.services .text p {
  padding: 10px 50px 10px 50px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
}
